<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--此配置会打印到catalina.out文件中-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <!--项目的日志文件-->
    <appender name="keyring" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:/logs/keyring.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/logs/mlwpq.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory> <!--10天-->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:/Program Files (x86)/tomcat-8.5.6/apache-tomcat-8.5.6/logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/Program Files (x86)/tomcat-8.5.6/apache-tomcat-8.5.6/logs/error.log.%d{yyyy-MM-dd}.gz
            </fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="com.keyring" additivity="false" level="INFO" >
        <appender-ref ref="keyring" />
        <appender-ref ref="console"/>
    </logger>

    <!-- mybatis log 日志 -->
    <logger name="com.key.dao" level="DEBUG"/>

    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" >
        <appender-ref ref="console"/>
    </logger>

    <logger name="java.sql.Connection" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="java.sql.Statement" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

    <logger name="java.sql.PreparedStatement" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

    <!-- TRACE < DEBUG < INFO < WARN < ERROR -->
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="keyring"/>
        <appender-ref ref="error"/>
    </root>

</configuration>